body {
 background-color: darkred;
 }
 
h1 {
 color: burlywood;
 text-align: center;
}

p {
color: antiquewhite;
 font-family: cursive;
 font-size: 18px;
}

figcaption {color: antiquewhite;
 font-family: cursive;
 font-size: 18px;}

th {
    color:burlywood;
    font-size: 20px;
}

td {
    color: antiquewhite;
    font-size: 15px;
}
a {
color: antiquewhite;
 font-family: cursive;
 font-size: 18px;
}

